.group-row {
    white-space: nowrap;
    overflow: auto;
    height: 60px;
}

.group-col {
    display: inline-block;
    margin-right: 10px;
}

.group-button-custom {
    font-family: 'Solway';
    font-size: 15px;
    color: white;
    background-color: #3B71CA;
    text-transform: capitalize;
}